<header>
  <div class="header">
    <div class="header_logo">
    </div>
    <div class="header_title">
      MusicSpace
    </div>
    <div class="header_search">
      検索
    </div>
    <div class="header_username">
      user
    </div>
  </div>
</header>
  <div class="body">
    <div class="top_user">
      <h2 class="top_title">
        Top User
      </h2>
      <ol class="top_user_imagegroup">
        <li class="top_user_image"></li>
        <li class="top_user_image"></li>
        <li class="top_user_image"></li>
        <li class="top_user_image"></li>
        <li class="top_user_image"></li>
        <li class="top_user_image"></li>
        <li class="top_user_image"></li>
        <li class="top_user_image"></li>
        <li class="top_user_image"></li>
      </ol>
    </div>    
    <div class="topmusic">
      <h2 class="top_title">
        Top Music
      </h2>
      <ol class="top_musicgroup">
        <li class="top_music_title"></li>
        <li class="top_music_title"></li>
        <li class="top_music_title"></li>
        <li class="top_music_title"></li>
        <li class="top_music_title"></li>
        <li class="top_music_title"></li>
        <li class="top_music_title"></li>
        <li class="top_music_title"></li>
        <li class="top_music_title"></li>
      </ol>
    </div>
  </div>
<footer>
  <div class="footer">
  
  </div>
</footer>