<header>
  <div class="header">
    <div class="header_logo">
    </div>
    <div class="header_title">
      MusicSpace
    </div>
    <div class="header_search">
      検索
    </div>
    <div class="header_username">
      user
    </div>
  </div>
</header>
  <div class="body">
    <div class="top_user">
      <h2 class="top_title">
        Top User
      </h2>
      <ol class="top_user_imagegroup">
        <li class="top_user_image"></li>
        <li class="top_user_image"></li>
        <li class="top_user_image"></li>
        <li class="top_user_image"></li>
        <li class="top_user_image"></li>
        <li class="top_user_image"></li>
        <li class="top_user_image"></li>
        <li class="top_user_image"></li>
        <li class="top_user_image"></li>
      </ol>
    </div>    
    <div class="topmusic">
      <h2 class="top_title">
        Top Music
      </h2>
      <ol class="top_musicgroup">
        <li class="top_music_title"></li>
        <li class="top_music_title"></li>
        <li class="top_music_title"></li>
        <li class="top_music_title"></li>
        <li class="top_music_title"></li>
        <li class="top_music_title"></li>
        <li class="top_music_title"></li>
        <li class="top_music_title"></li>
        <li class="top_music_title"></li>
      </ol>
    </div>
  </div>
<footer>
  <div class="footer">
    <div class="list-title">
      Company
      <ul class="list">
      <li>About MusicSpace</li>
      <li>Customer Support</li>
      <li>Contact US</li>
      <li>Careers</li>
      <li>Logos and Images</li>
      <li>Terms and Conditions</li>
      <li>Privacy and Cookie Policy</li>
      <li>Report Copyright Infringement</li>
      <li>Feedback</li>
      </ul>
    </div>
    <div class="list-title">
      Network
      <ul class="list">
      <li>Beatport How To</li>
      <li>Beatport LINK</li>
      <li>Beatport LINK Playlists</li>
      <li>Beatport CLOUD</li>
      <li>Beatport Hype for Labels</li>
      <li>Beatport Beatportal</li>
      <li>Loopcloud</li>
      </ul>
    </div>
    <div class="list-title">
      LANGUAGE
      <ul class="list">
      <li>English</li>
      <li>Español</li>
      <li>Français</li>
      <li>Deutsch</li>
      <li>Português</li>
      <li>Nederlands</li>
      <li>Italiana</li>
      <li>日本語</li>
      </ul>
    </div>
  </div>
</footer>